html {
    background-color: rgb(230, 230, 230);
    scroll-behavior: smooth;
    overflow: auto;
}


body {
    margin: 0;
}



.hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-10%);
    transition: 1s;
}

.hidden.skill-container {
    opacity: 0;
    filter: blur(1px);
    transform: translateX(0%) translateY(4%);
    transition: 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transform: translateY(0%);
    transition: 1s;

}



.article-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.article-content-sleek {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.section-title {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin-top: 10px;
}

.article-content-strong {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 87%;
}
.article-content-strong-alt {
    font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-weight: 100;
  font-style:normal;
  font-size: 87%;
}

bold {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  color: rgb(238, 75, 75);
}


.montserrat-headerfont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }


.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-2 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  
nav {
    display:flex;
    justify-content: flex-end;
}

nav ul {
    margin: 5px;
    font-size: x-large;
    display: flex;
    flex: 2;    
}

nav li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: grey;
}

nav a:active {
    color:rgb(94, 94, 94);
}

header {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    float:right; 
}

article#intro {
    background-image: url("backgroundImage.jpg");
    background-size: 1980 800;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 500px;
    min-height: 920px;
    margin: 0;
    padding: 0;

    
}

article#intro section {
    text-align: left;
}

article#intro-overlay {
    font-size:40px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px;
    color: white;
    text-align: center;
    width: 500px;
}

article#intro-overlay-3 {
    color: rgb(236, 235, 235);
    font-size: 25px;
    position: absolute;
    top: 338px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px;
    text-align: center;
    line-height: 25px;
    transition-delay: 100ms;
    width: 400px;
}

article#intro-overlay-2 {
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0px;
    border-bottom: 4px solid rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;    
    transition-delay: 200ms;
}

@media (max-width: 500px) {
    article#intro-overlay-2 {
        top: 370px;
        transition-delay: 0ms;
    }

    article#intro-overlay-3 {
        top: 355px;
        width: 200px;
        transition-delay: 0ms;

    }
}


article#intro-overlay-2 > a > .my-svg {
    color: white;
    transition: 0.5s;
    transform-origin: 50% 50%;
    margin: 0px;
}

article#intro-overlay-2 > a > .my-svg:hover {
    padding: 0px;
    transition: 0.3s;
}

article#intro-overlay-2 > a {
    margin: 0px;
    border-radius: 15px;
    transition: 0.5s;
}

article#intro-overlay-2 > a:hover {
    padding-bottom: 0px;
    margin: 0px;
    background-color: grey;
    border-radius: 15px;
    transition: 0.3s;
}


article#about-me {
    text-align: left;
    border: 2px solid grey;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid grey;
    background-color: white;
    margin: 0px;
    padding-right: 30%;
    padding-left: 5%;
}


#about-me-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 10%;
}

@media (max-width: 1200px) {
    article#about-me {
        padding-right: 20%;
    }
}

@media (max-width: 900px) {
    #about-me-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
        gap: 0px;
    }

    article#about-me {
        text-align: left;
        padding: 0px;
        padding-right: 5%;
        padding-left: 5%
    }

    #about-me-1 {
        margin-top: 0px;
        
    }
}

#about-me-1 {
    margin-bottom: 0px;
    
}

#about-me-2 {
    margin-top: 10px;
}

#about-me-3 {
    margin-top: 30px;
}



#about-me-mini-container2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}



#about-me-mini-container {
}

#about-me-mini-container2 > h2 {
    margin-top: 0px;
    text-align: center;
    border-bottom: 2px solid black;
    width: 120px;
    padding-bottom: 10px;
}

#profile-img {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
    border-radius: 50%;
}

article {
    text-align: center;
    padding: 10px;
    padding-top: 1px;
    border: 1px solid grey;
    border-right: 0px;
    border-left: 0px;
}

article#projects {
    background-color: rgb(230, 230, 230)

}

section.project-section {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    border-radius: 10px;
}

section.project-section > div > p{
    text-align: left;
    margin-right: 30px;
    margin-left: 20px;
}

@media (max-width: 900px) {
    section.project-section > div > p {
        margin-top: 0px;
    }
}

@media (max-width: 779px) {
    img.project-img {
        max-width: 300px;
        float:left;
        display: none;
        
    }
}


section.project-section > div > h3 {
    margin-bottom: 0px;
}



.link-button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    flex-basis: 0;
    gap: 50px;

}

.link-button {
    margin-top: auto;
    border: 4px solid rgb(238, 75, 75);
    border-bottom: 8px solid rgb(238, 75, 75);
    border-top: 8px solid rgb(238, 75, 75);
    background-color: rgb(238, 75, 75);
    margin-bottom: 10px;
    color: rgb(245, 245, 245);
    width: 120px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;


}

.link-button:hover {
    transform: scale(1.2);
    transition: 0.2s;
    color: black;


}

.project-content-container {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    overflow: auto;
}

img.project-img {
    max-width: 300px;
    float:left;
    
}

article#skills {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.text-container {
    text-align: center;
}

.skill-container {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    perspective: 1000px;
}




.mini-skill-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    text-align: left;
    padding: 0;
}

section.skill-section {
    min-height: 250px;
    width: 400px;
    max-width: 400px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: rgb(250, 247, 247);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
}

section.skill-section:hover {
    border: 1px solid rgb(0, 0, 0);
    margin: 9px
}


.rotate-test {
    transform-style: preserve-3d;
    transition: transform 0.2s;
}


h3#java {
    background-color: rgb(247, 134, 70);
    margin-bottom: 0px;
    min-height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px
}

h3#web-dev {
    background-color: rgb(190, 106, 247);
    margin-bottom: 0px;
    min-height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px
}

h3#unity {
    
    background-color: rgb(111, 119, 233);
    margin-bottom: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}

h3#FRC {
    
    background-color: rgb(111, 188, 233);
    margin-bottom: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}

h3#unreal {
    
    background-color: rgb(205, 215, 221);
    margin-bottom: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}

h3#python {
    
    background-color: rgb(102, 233, 110);
    margin-bottom: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}

h3.skill-bottom {
    margin-bottom: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}



img.skill-top {
    min-width: 400px;
    height: auto;
    object-fit: cover;
    min-height: 50px;
    padding: 0px;
    

    
}


div.skill-dot-seperator {
    border-bottom: 2px dashed black;
    height: 2px;
    margin: 0px;
    pad: 0px;
    margin-top: auto;
}

h4#expw {
    margin: 0px;
    margin-left: 5px;
    text-align: left;
}



ul.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: left;
    gap: 10px;
    padding: 5px;
}

ul.row > li {
    flex: 1 0 30%
}

footer {
    background-color: rgb(133, 133, 133);
    border-top: 1px solid grey;
    color: white;
}


footer > a > .my-svg {
    color: white;
    transition: 0.5s;
    transform-origin: 50% 50%;
    transform: scale(0.5);
    margin: 0px;
}

footer > a > .my-svg:hover {
    color: rgb(201, 200, 200);
    transform: scale(0.8);
    padding: 0px;
    transition: 0.3s;
}

footer > p{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
}

a.special{
    margin-bottom: 10%;
    transform-origin: 50% 50%;
    transform: scale(0.5);
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
}




.linkContainer {
    display:flex;
    flex-direction: row;
}

article.hidden#intro-overlay{

    transform: translate(-50%, 0%);
}

article.hidden#intro-overlay-2 {
    transform: translate(-50%, 70%);
}

article.hidden#intro-overlay-3 {
    transform: translate(-50%, -5%);
}